.container {
    padding-left: 4vw;
}

.title {
    min-height:10vh;
}

.title h1 {
    color: rgb(69, 127, 69);
}
.main {
    min-height: 83vh;
}
.footer {
    padding-top:5vh;
    max-height: 5vh;
}

.encodedInput {
    width: 80vw;
    height:30vh;
    transition: background-color 0.5s ease;
    background-color: rgb(57, 57, 57);
    resize: none;
}

.encodedInput:focus {
    background-color: rgb(72, 72, 72);
}

.decodedInput {
    width: 80vw;
    min-height:30vh;
    height:100%;
    background-color: rgb(57, 57, 57);
    resize: none;
}

.submitBtn:hover {
    cursor:pointer;
}


.letterTable {
    max-width: 40vw;
}